.d-block{
    display: block; /*default*/
    background-color: aquamarine;
    border: 1px solid black;
    width: 100px;
    height: 100px;
    padding: 15px;
    margin: 20px;
}

.d-inline{
    display: inline; /*default*/
    background-color: pink;
    width: 1000px; /*아무리 커도 의미x*/
    height: 200px;
    /*
    padding: 15px;
    margin: 20px;
    */
}

.d-inline-block{
    display: inline-block; /*span은 기본적으로 inline이므로 inline-block으로 변경해주어야함*/
    width: 100px;
    height: 100px;
    background-color: yellowgreen;
    border: 1px solid blue;
    padding: 15px;  /*상쇄되지 않고 합해짐... ?*/
    margin: 20px;
}

.total{
    width: auto;
    height: 200px;
    background-color: orange;
}

.h{
    display: inline-block;
    background-color: skyblue;
    width: 200px;
    height: 100px;
}

.c{
    display: inline-block;
    background-color: green;
    width: 200px;
    height: 100px;
    margin: 15px;
}

.j{
    display: inline-block;
    background-color: red;
    width: 200px;
    height: 100px;
    margin: 15px;
}

.parent{
    width: 400px;
    /*
    width를 300px로 바꾸면 min은 400px유지, max는 같이 줄어듦
    width를 500px로 바꾸면 max은 400px유지, min는 같이 늘어남
    */
    height: 200px;
    background-color: red;
}

/*min-width, max-width는 부모 넓이에-*/
.parent > .min{
    min-width: 400px;
    height: 100px;
    background-color: orange;
}

.parent > .max{
    max-width: 400px;
    height: 100px;
    background-color: rebeccapurple;
}

.box{
    background-color: beige;
    border: 1px solid black;
}

.box-px{
    width: 50px;
    height: 50px;
}

.box-viewport{
    width: 50vw; /*뷰포트 가로 길이의 50%*/
    height: 50vh; /*뷰포트 세로 길이의 50%*/
}

.box-per{
    width: 50%;
    height: 50%; /*없던 있던 동일*/
}
/*뷰포트가 퍼센트보다 더 큰 이유는 body에도 padding이 있기 때문*/

.rem{
    font-size: 2rem; /* body 1rem=16px*/
}

/*부모의 글꼴 크기*2*/
.em{
    font-size: 2em;
}

.square{
    display: inline-block;
    width: 100px;
    height: 100px;
    cursor: pointer; /*커서가 손가락으로 바뀜*/
    background-color: blue;
}

.border{
    background-color: yellow;
    /*굵기-모양-색깔 순 (테두리만큼 크기가 커짐)*/
    /* border: 3px solid red;*/
    /*default: 1px none black*/
    border-color: blue orange green blue; /*시계방향*/
    border-style: dotted;
    border-width: 3px;
    border-right-width: 5px; /*박스의 각 영역을 따로 스타일링 가능*/
}

.rounded{
    background-color: yellowgreen;
    /*
    border-radius: 10px;*/ /*50px이면, 완전한 원이 된다.*/
    border-radius: 5px 10px 20px 40px;
    border-radius: 5px 40px; /*(1,4)사분면 & (2,3)사분면*/
}

.rounded2{
    background-color: gray;
    border-radius: 5px 40px 20px 10px;
}

.box-sizing{
    padding: 20px;
    border: 15px solid red;
    background-color: orange;
}

.content-box{
    box-sizing: content-box; /*default*/ /*border와 padding을 설정한만큼 크기가 늘어남(원래 크기가 유지되지 않는 점이 아래와 차이점)*/
}

.border-box{
    box-sizing: border-box; /*원래 크기인 100px*100px 유지되면서 border와 padding이 늘어남*/
}

.d-none {
    display: none; /*속성x, 자리x*/
    background-color: red;
}
.invisible {
    visibility: hidden; /*속성x, 자리o*/
    background-color: orangered;
}
.opacity-0 {
    opacity: 0; /*투명해짐*/ /*속성과 자리 둘다 o*/
    background-color: tomato;
}

.square2{
    width: 200px;
    height: 200px;
    background-color: blue;
}

.square2:hover{
    opacity: 0;
}

.overflow-hidden{
    overflow: hidden;
}

.overflow-auto{
    overflow: auto;
}

.overflow-scroll{
    overflow: scroll;
}

.overflow-visible{
    overflow: visible;
}