.img-box{
    background-color: #9494ed;
    width: 400px;
    height: 250px;
}

.img-box img{
    width: 100%;
    height: 100%;
    cursor: pointer;
    border: 1px solid gold;
    transition-duration: 10s;
}

.img-box img:hover{
    /*1. skew()
        - 원하는 각도만큼 요소를 기울임
        - x, y축으로 나눠서 속성 부여 가능
        skewX()
        skewY()
    */
    transform: skewX(30deg);
    transform: skewY(30deg);
    transform: skew(30deg);

    /*2. scale()
        - 크기 조절 함수(확대 or 축소)
        - 1보다 크면, 확대 / 1보다 작은 경우, 축소
    */

    transform: scale(2);
    transform: scaleX(1.5);
    transform: scaleY(0.5);
    transform: scale(2, 0.5);

    /*3. translate
        - 이동
        - translateX(): x축으로 이동
        - translateY(): y축으로 이동
        - translate(): x축, y축 기준으로 이동
    */
    transform: translateX(50px);
    transform: translateY(50px);
    transform: translate(-50px, 10px);

    /*4. rotate
        - 회전(단위: deg)
        - rotateX(): x축 기준 회전
        - rotateY(): y축 기준 회전
        - rotate(): 시계 방향으로 회전
    */
    transform: rotate(-90deg);
    transform: perspective(100px) rotateX(45deg); /*반드시 앞에 perspective() 원근감을 줘야함, perspective가 클수록 덜 역동적*/
    transform: perspective(400px) rotateY(180deg);
    backface-visibility: visible;
    /* backface-visibility: hidden; */
}

/*transition*/
.box{
    width: 100px;
    height: 100px;
    display: inline-block;
    background-color: black;
}

.box1:hover{
    background-color: pink;
    width: 120px;
    height: 120px;
    transition-duration: 1s;
    /* transition-delay: 1s; */
    /* transition-property: height;*//* height에 대해서만 duration과 delay가 적용됨 */
    transition-timing-function: ease;
}

.box2:hover{
    /*transition 단축 속성*/
    /*transition: property duration(필수) function delay*/
    background-color: aqua;
    transform: translate(100px) scaleX(2);

    /*transition: transform 0.5s linear 2s; */  /*2s뒤에 transform 시작*/
    transition: 2s;
}

.box3:hover{
    opacity: 0;
    transition: .6s;
    /* visibility: hidden; */
    /* visibility: none; */
}